@model IEnumerable<Project1.Models.Detail>


@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.userId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.col)
    </td>
</tr>
}


