/*Zakaz*/
body {
    background: url(../../../img/rabota_fon1.png);
    background-size: cover;
    background-color: #BA55D3;
}
#arrow_img {
    width: 50px;
    height: 30px;
}

label {
    margin-top: 20px;
    color: goldenrod;
}
.creat {
    display:inline;
    text-align:left;
    background-color:azure;
    color:white;
}


