
@{
    ViewBag.Title = "Enter";
}

@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/css/Home/index.css">
<form method="post" action="/Home/Enter">
    <div class="container">
        <h1>Представтесь</h1>
        <hr>

        <label for="name"><b>Имя</b></label>
        <input type="text" placeholder="Имя" name="name" required >

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Пароль" name="psw" required >

        <hr>
        <button type="submit" class="registerbtn">Войти</button>
    </div>
    <div>
        @ViewBag.ansver;
    </div>
</form>



<script src="~/Content/js/Home/index.js"></script>

