
@{
    ViewBag.Title = "Regulations";
}
<link rel="stylesheet" href="~/Content/css/regulations.css">
<h2>Правила</h2>
<ul>
    <li>Вы я вляетесь начальником Автотранспортного Цеха</li>
    <li>На Вашем балансе есть некоторая сумма деньг</li>
    <li>В цехе работает от 1 до 3 рабочих (Вы можете как увольнять рабочих, так и нанимать новых)</li>
    <li>Во вкладке "Заказы" находяться заказы на исготовления машин. Количество заказов прямо пропорционально количеству рабочих</li>
    <li>(т.е. один рабочиц - один заказ, два рабочиз - два заказа...)</li>
    <li>Выполнение заказов приносит деньги, но не все заказы можно выполнить.</li>
    <li>У Вас может не быть необходимых деталей или запчастей для выполнения заказа.</li>
    <li>Их Вы можете купить на Базаре.</li>
    <li>Просмотреть запасы на складе - вкладка "Склад"</li>
    <li>Во вкладке "Деньги" можно посмотреть текущее финансовое состояние или оформить кредит</li>
    <li>Вкладка "Рабочие" - найм или уволнение рабочих.</li>
    <li>Не забывайте - в конце каждого дня Вы должны выплачивать рабочим зарплату!</li>
    <li>Каждый день поступают новые заказы.</li>
    <li>Ваша чель - заработать 1 000 000 $</li>
</ul>
