/*Regulations*/
body {
    background: url(../../../img/fon.png);
    background-size: cover;
}
#tabs1, #tabs2, #tabs3 {
    display: none;
}
#arrow_img {
    width: 50px;
    height: 30px;
    margin-left: 70px;
}

label {
    margin-top: 30px;
    margin-left: 70px;
    color: red;
    font-size: 20px;
}
li {
    list-style-type: none; /* Убираем маркеры */
}

ul.hr {
    margin: 50px; /*Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

    ul.hr li {
        display: inline; /* Отображать как строчный элемент */
        font-size:30px;
        margin-left:40px;
    }

#regulat{
    color: white;
    font-size: 20px;
}
