/*Payment*/
body {
    background: url(../../../img/fon.png);
    background-size: cover;   
}
.conteiner {
    position: relative;
    width: 100%;
    display: table;
    margin-top: 5px;
}
.arrow {
    display: table-cell;
}
.txt {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:white;
}
h2 {
    margin-top:100px;
    margin-left:0px;
}
.imeg {
    display: table-cell;
    vertical-align: middle;
    width:200px;
}
.list {
    display: table-cell;
}
table {
    vertical-align: middle;
    text-align: center;
    width: 40%; /* Ширина таблицы */
    margin: 200px auto; /* Выравниваем таблицу по центру */
    /*border-collapse: collapse;*/
    margin-top: 100px;
    font-size: 20px;
    color: goldenrod;
}
td {
    border: 1px solid white;
}
#arrow_img {
    width: 50px;
    height: 40px;
    margin-left: 35px;
}

label {
    margin-top: 20px;
    margin-left: 35px;
    color: goldenrod;
}
