@using System.Text;
@{
    ViewBag.Title = "Create";
}
<form method="post" action="Zakaz/Create">
    @foreach (string name in ViewBag.errorCrear)
    {
        <p style="font-size:20px">@name</p>
        <br />
    }
</form>
