@model IEnumerable<Project1.Models.Auto>
@using Project1.Models
<table class="table">
    <tr>
        <th>
            Машина
        </th>
        <th>
            Оказать услуги
        </th>
        <th>

        </th>
    </tr>

    @foreach (Auto item in Model)
    {
        int axez = @item.Content / 2;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameAuto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Services)
        </td>
        @{

            if (item.Broken == 1)
            {
                <td>
                    <a data-ajax="true"
                       data-ajax-mode="replace" data-ajax-update="#data" data-ajax-url="/Auto/PartialAutoWork?id=@item.Id">
                        Выполнить
                    </a>
                </td>
                <td>
                    <a data-ajax="true"
                       data-ajax-mode="replace" data-ajax-update="#data" data-ajax-url="/Auto/Sale?id=@item.Id">
                        Продать машину за @axez
                    </a>
                </td>
            }
            else if (item.Broken == -1)
            {
                <td>
                    @item.Content
                </td>
                <td>
                    <a data-ajax="true"
                       data-ajax-mode="replace" data-ajax-update="#data" data-ajax-url="/Auto/PartialAutoRepair?id=@item.Id">
                        Ремонт
                    </a>
                </td>
            }
            else
            {
                <td>
                    Насегодня работа закончена
                </td>
            }
        }
    </tr>
    }

</table>