/*Home*/
body {
    background: url(../../../img/strike.png) no-repeat;
    background-size: cover;
}
#bazaar_img, #sklad_img, #order_img, #bank_img {
    width: 0%;
    height: 0%;
    margin-top: 20px;
}
#regulations_img {
    width: 7%;
    height: 7%;
    margin-top: 20px;
}
#works_img {
    width: 7%;
    height: 7%;
    margin-top: 20px;
    margin-left:20px;
}
#newDay_img {
    width: 5%;
    height: 6%;
    margin-top: 20px;
}
#mani_img {
    width: 5%;
    height: 6%;
    margin-top:12%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul.hr {
    margin: 0;  /*Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */  
} 

.hr {
    position: relative;
}
.hr > li {
    display: inline;
    vertical-align: middle;
    /*margin-left: 35px;  Отступ слева*/
}
.hr > li:last-child {
    margin-left:40px;
}
.axez {
    position: relative;
    top: -120px;
    left: 80%;
    display: block;
}
.mani {
    margin-right:5%;
    text-align:right;
    color:gold;
}
.strike {
    color: red;
    text-align: center;
    font-size: 30px;
    display: block;
}