
@{
    ViewBag.Title = "Autors";
}

<link rel="stylesheet" href="~/Content/css/Start/autors.css">

<label>Назад</label><br>
<a href='@Url.Action("Index","Start")'>
    <img src="~/img/arrow.png" runat="server" alt="" id="arrow_img" />
</a>
<div id="txt">
    <ol>
        <li>
            Идея и разработка - Андрей Соловьев <a href="http://psixonik.ho.ua/"  target="_blank">Мой сайт</a>
        </li>
        <li>
            Дизайн - Вова Сергеев <span class="colortext">vova21sergeev@gmail.com.</span>
        </li>
    </ol>
</div>

