
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/Start/gameOver.css">
    
    <title>NewGame</title>
</head>
<body>
    <form method="post" action="/Start/GameOver">
        <div id="conteiner">
            <div id="imeg">
                <img src="~/img/lost.png">
            </div>

            <div id="list">
                <h2>Сыграть еще раз?</h2>
                <div class="btn">
                    <ul>
                        <li><a href='@Url.Action("GameOver", "Start", new { ansver="Yes"})' class="btn" id="btnYes">Yes</a></li>
                        <li><a href='@Url.Action("GameOver", "Start", new { ansver="No"})' class="btn" id="btnNo">No</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
