@model IEnumerable < Project1.Models.Worker>

<script language="JavaScript" type="text/javascript" src="~/Content/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/css/Workers/index.css">

<script src="~/Content/js/workers/index.js" type="text/javascript"></script>


<div class="txtBlock">
    <label id="labelBack">Назад</label><br>
    <a href='@Url.Action("Back","Bazaar")'>
        <img src="~/img/arrow.png" runat="server" alt="" id="arrow_img" />
    </a>
    <h1>Рабочие</h1>
    <div class="txt" id="results">
        @Html.Partial("PartialWorkers")
    </div>
    <p id="loading" hidden="true">Загрузка...</p>
</div>


@{
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "results",
        Url = Url.Action("PartialWorkers", new { change = "add" }),
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading",
        OnBegin = "clear"
    };
}
@using (Ajax.BeginForm(ajaxOptions))
{
    <input type="submit" style="color:red" value="axez" />
}
@Ajax.ActionLink("Добавить", "PartialWorkers", routeValues: new { change = "add" }, ajaxOptions: ajaxOptions)
<script>
    function clear() {
        document.querySelector("#results").innerHTML = "";
    }
</script>

<!--<script src="~/Content/js/workers/index.js" type="text/javascript"></script>-->
