@model IEnumerable<Project1.Models.Worker>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColWorkers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Al)
        </td>
    </tr>
}
